body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 32px;
    color: #333333;
}
p{
    font-size: 16px;
    color: #666666;
}
#banner{
    background-image: url(../img/background.jpg);
    background-size: cover;
    width: 100%;
    height: 260px;
    background-position: center;

    display: flex;
    align-items: center;/*alinhando no eixo Y (vertical)*/
    justify-content: center; /*alinhando no eixo X (horizontal)*/

}
#container{
    max-width: 1100px;
    width: 95%;
    margin: 40px auto;
}
#content{
    margin-top: 3px;
    display: flex;
    column-gap: 50px;
}
td{
    width: 50%;
}
tr{
    background-color: #DDDDDD;
    height: 30px;
}
th{
    background-color: #0A5FAE;
    color: white;
    font-size: 14px;
}
table{
    width: 550px;
    text-align: center;
}
tr:hover{
    background-color: #DFF5FF;
}
#math{
    width: 50%;

}
form{
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}
input{
    width: 240px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
}
button{
    background-color: #0A5FAE;
    width: 25%;
    height: 30px;
    color: white;
    border: solid 1px #CCCCCC;
}
#result{
    /*background-color: #005F09;*/
    border: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    visibility: hidden;/*Inicia escondida*/

}
h3{
    color: white;
    font-size: 24px;
    margin: 0;
}
#footer{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #D2E9FF;
    
    
}
#footer a{
    text-decoration: none;
    color: #0A5FAE;
    font-size: 14px;

}
@media (max-width: 1150px){
    
    #content{
        flex-direction: column-reverse;
        row-gap: 10px;
        margin: 0;
    }
    table{
        width: 100%;
    }
    #math{
        width: 100%;
    }
    #result{
        width: 100%;
    }
    button{
        width: 50%;
    }
    
}
@media (max-width: 767px){
    form{
        flex-direction: column;
    }
    form div{
        width: 100%;
    }
    input{
        width: 100%;
        box-sizing: border-box;
        /* comando faz com que a largura não aumente por conta do padding */
    }
    button{
        width: 100%;
    }
    #banner img{
        width: 300px;
    }
}